<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>O'Reilly</title>
  <link rel="stylesheet" type="text/css"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
        href="//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
  <style type="text/css">
    /*h2 { margin-top: 0px; }*/
    p.overview { overflow: scroll; /*height: 165;*/ }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">O'Reilly</h1>
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"
          integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
          crossorigin="anonymous">
  </script>
  <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>
  <script type="text/javascript"
          src="/public/scripts.js">
  </script>
</body>
</html>
